html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    background-color: #e7f6ff;
    @extend %inter-regular;
    font-size: 14px;
    line-height: 16.94px;
  }
  
  .wrapper {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
  }