%inter-regular {
    font-family: 'inter', sans-serif;
    font-weight: 400;
}

%inter-medium {
    font-family: 'inter', sans-serif;
    font-weight: 500;
}

%inter-semibold {
    font-family: 'inter', sans-serif;
    font-weight: 600;
}

%inter-bold {
    font-family: 'inter', sans-serif;
    font-weight: 700;
}